footer.site-footer {
  padding: 1rem 0;
  border-top: solid 1px $smoke;

  .logo {
    @include breakpoint(medium down) {
      text-align: center;
    }

    img { height: 125px }
  }

  .content {
    text-align: right;

    @include breakpoint(medium down) {
      text-align: center;
    }

    h6 {
      margin-bottom: 0.5rem;
      font: {
        size: rem-calc(18);
        weight: $regular;
      }
    }

    p {
      color: $black;
      line-height: 1.2;
      margin: 0 0 0.5rem;
      font: {
        size: rem-calc(12);
        weight: $light;
      }

      a {
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
