main.dashboard {
  section.intro {
    padding: 3rem 0;
    text-align: center;
    color: $black;

    @include breakpoint(small down) {
      padding-top: 1.5rem;

      p {
        font-size: 16px;

        strong {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
  }
}
