section.category-tiles {
  padding-top: 2rem;
  margin-bottom: 3rem;

  > .uk-container {
    @include breakpoint(xsmall down) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  header {
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    border-bottom: solid 1px $smoke;
    margin-bottom: 1.5rem !important;
    font-weight: 400;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: solid 1px $smoke;
    margin: 5px;
    padding: 1rem 0.5rem;

    @include breakpoint(small down) {
      padding: 0.5rem;
    }

    &:hover,
    &.uk-active {
      margin: 3px;
      border: solid 3px $smoke;
    }

    .icon {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 20%;

      @include breakpoint(small down) {
        padding: 0;
        margin-bottom: 0.5rem;

        img {
          width: 70%;
        }
      }
    }

    .title {
      text-transform: uppercase;
      line-height: 1.2;
      font: {
        size: 16px;
        weight: $bold;
      }

      @include breakpoint(1240 down) {
        font-size: 13px;
      }

      @include breakpoint(small down) {
        font-size: 10px;
      }

      @include breakpoint(xsmall down) {
        font-size: 8px;
      }
    }
  }

  // Mobile
  &--mobile {
    background: $white;
    margin: 0;
    padding: 1rem 0;
    display: none;
  }
}
